<html ng-app="demoMongo" ng-controller="MongoRestController" class="h1">
<head >
    <title>Registration</title>

</head>
<body>
        <div class="b1">
        <form class="contact_form"  ng-submit="insertData()" name="contact_form">
            <div class="b2">
            <h1>Sign Up</h1>
                <div class="f1"><span class="form_hint">First Name:</span>
                    <div class="a1"> <input type="text" class="textbox1" name="fname" placeholder="First Name" ng-model="formData.fname" required /></div>
<br></div>
                <div class="f2"><span class="form_hint">Last Name:</span>
                    <div class="a1"> <input type="text" class="textbox1" name="lname" ng-model="formData.lname" placeholder="Last Name" required /></div>
<br></div>
                <div class="f3"><span class="form_hint">E-Mail:</span>
                    <div class="a1"> <input type="email" class="textbox1" name="email" ng-model="formData.email" placeholder="abc@mail.com" required /></div>
<br></div>
                <div class="f4"> <span class="form_hint">Password:</span>
                    <div class="a1"> <input type="password" name="password" class="textbox2" ng-model="formData.password" placeholder="Password"></div>
<br></div>
                <div class="f5"><span class="form_hint">Confirm Password:</span>
                    <div class="a1"> <input type="password" name="cpassword" class="textbox2" ng-model="formData.cpassword" placeholder="Confirm Password"></div>
<br></div>
           <div class="f6"> <input type="submit" class="button" name="Sign In"  value="Sign Up"/></div>
            </div>
        </form>
            <div class="b3">
        <input type="button" value="Login" class="button" onclick="go()"/>
        <script>
            function go() {
                window.location='Users.html';
            }
        </script>
            </div>
            </div>

<script type="text/javascript" src="http://code.angularjs.org/1.1.1/angular.js"></script>
<script type="text/javascript" src="http://code.angularjs.org/1.1.1/angular-resource.js"></script>
<script type="text/javascript" src="http://code.angularjs.org/1.1.1/angular-sanitize.js"></script>
<script src="app.js"></script>
<link rel="stylesheet" href="index_CSS.css" type="text/css">
</body>
</html>